@media screen and (max-width: 700px){
    img {
        width: 100%;
        float: none;
        margin-bottom: 10px;

    }
    h2 {
        text-align: center;
    }
    .icons {
        text-align: center;
        align-items: center;
    }
   
    
   
}

i {
    margin-left: 4px;
    margin-right: 4px;
}

i:hover {
    color: black;
   
}