.nav {
  height: 100%; 
  width: 80px;
  position: fixed; 
  z-index: 1; 
  top: 0; 
  left: 0;
  background-color: #111; /* Black */
  overflow-x: hidden; 
  padding-top: 20px;
  padding-left: 5px;
  color: whitesmoke;
  }



  .intro {
    background-color: black;
    width: 80%;
    opacity: 70%;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;
    border-radius: 4px;
    animation-name: wipe-enter;
    animation-duration: 2s;
    animation-iteration-count: 1;
  }
  .paragraph {
    color: white
  }

  .nav_items{
    position: absolute;
    top: 50%;
  }

  .nav_item:hover{
    color:turquoise
  }

  .main {
    min-height: 100vh;
    padding: 4rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: left; */
  }
  
  
  .nav > a {
    margin: 8px 0;
    text-decoration: none;
    background: white;
    border-radius: 4px;
    font-size: 14px;
    padding: 12px 16px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.025em;
    color: #333;
    border: 1px solid #eaeaea;
    transition: all 0.125s ease;
  }
  
  .nav > a:hover {
    background-color: #eaeaea;
  }

  @keyframes wipe-enter {
    0% {
      transform: scale(0, .025);
    }
    50% {
      transform: scale(1, .025);
    }
  }

  
  
  