.nav {
  height: 100%; 
  width: 80px;
  position: fixed; 
  z-index: 1; 
  top: 0; 
  left: 0;
  background-color: #111; /* Black */
  overflow-x: hidden; 
  padding-top: 20px;
  color: whitesmoke;
  }

  .main {
    min-height: 100vh;
    padding: 4rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
  }
  
  
  .nav > a {
    margin: 8px 0;
    text-decoration: none;
    background: white;
    border-radius: 4px;
    font-size: 14px;
    padding: 12px 16px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.025em;
    color: #333;
    border: 1px solid #eaeaea;
    transition: all 0.125s ease;
  }
  
  .nav > a:hover {
    background-color: #eaeaea;
  }
  
  .input {
    margin: 32px 0;
    text-decoration: none;
    background: white;
    border-radius: 4px;
    border: 1px solid #eaeaea;
    font-size: 14px;
    padding: 8px 16px;
    height: 28px;
  }
  